@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        @apply border-neutral-200;
    }
    body {
        @apply bg-neutral-50 text-neutral-900 font-sans antialiased;
    }
}

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}